<ion-content>
	<div class="login_page">
		<div class="login_cabin">
			<div class="logo_cab">
				<img src="assets/img/bmd_logo.png">
			</div>
			<div class="login_input">
				<input type="text" class="log_uname" placeholder="Username">
				<input type="text" class="log_pass" placeholder="Password">
			</div>
			<div class="log_btn_cab">
				<button class="log_btn">Login</button>
			</div>
		</div>
		<div class="signup_cab">
			<div class="log_sign">
				<h4 class="head4">Don’t have an account?</h4>
				<h3 class="head3" (click)="gotoSignup()">Signup</h3>
			</div>
			<hr class="log_hr">
		</div>
		<div class="clear"></div>	
	</div>
</ion-content>