<ion-content>
	<div class="landing_page">
		<div class="slide_cabin">
			<ion-slides pager="true"  #mySlider (ionSlideDidChange)="next()">
				 <ion-slide>
				    <div class="land_slide">
				    	<img src="assets/img/doc11.png">
				    	<div class="slide_content">
				    		<h2 class="head2">Manage</h2>
				    		<h1 class="head1">from anywhere</h1>
				    	</div>
				    </div>
				</ion-slide>
				<ion-slide>
				    <div class="land_slide">
				    	<img src="assets/img/doc2.png">
				    	<div class="slide_content">
				    		<h2 class="head2">Make practice</h2>
				    		<h1 class="head1">more efficient</h1>
				    	</div>
				    </div>
				</ion-slide> 
			</ion-slides>
		</div>
		<div class="nextbtn_cabin">
			<img src="assets/img/next_btn.png" (click)="goToSlide(1)" 
			[hidden]="slide1">
			<img src="assets/img/next_btn.png" (click)="toLogin()"
			[hidden]="slide2">
		</div>
	</div>
</ion-content>
  
