/*===============================
COMMON CSS FOR ALL PAGES START
================================*/
.clear {
	clear: both;
}
.left_float {
	float:left;
}
.right_float {
	float:right;
}
.no_padding {
	padding: 0;
}
.cabin {
	width:100%;
	float:left;
}
ion-content {
	font-family: 'Roboto', sans-serif;
}

/*===============================
		LANDING PAGE START
================================*/
.landing_page {
	width:100%;
	background-color: #fdfdfd;
}
.slide_cabin {
	width:100%;
	height:75%;
}
.slide_content {
	text-align: center;
}
.head2 {
	color: #838383;
	font-size: 28px;
	font-weight: 100;
	margin:0;
}
.head1 {
	color: #838383;
	font-size: 38px;
	font-weight: 600;
	margin: 0px 0px 45px 0;
}
.nextbtn_cabin {
	width: 100%;
	height:25%;
    text-align: center;
}
.swiper-pagination-bullet-active {
    background: #ffa800;
}

/*===============================
		LOGIN PAGE START
================================*/
.login_page {
	background: url(../assets/img/doc3.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-color: #f1f1f1;
}
.login_cabin {
    height: 80%;
    width: 100%;
    float: left;
    padding: 45% 0 25% 0;
	text-align: center;
}
.signup_cab{
	height:20%;
	width:100%;
	float: left;
}
.login_input {
	padding-top: 10%;
}
.login_input input {
	height:45px;
	width:70%;
	border: 1px solid #fff;
	background-color : #fff;
	padding: 0 30px;
	color: #8a8a8a;
	font-size: 16px;
}
.log_uname {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid #b0b0b0 !important; 
}
.log_pass {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    background: url(../assets/img/eye.png);
    background-repeat: no-repeat;
    background-size: 23px 13px;
    background-position: right 20px top 14px;
}
.log_btn {
	height:45px;
	width: 70%;
	border: 1px solid #871d57;
	border-radius: 10px;
	background-color : #871d57;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	margin:10px 0;
}
.log_sign {
	padding: 7% 0;
	text-align: center;
}
.head4 {
	color: #4c4c4c;
	font-size: 18px;
	font-weight: 100;
	margin: 5px 0;
}
.head3 {
	color: #4c4c4c;
	font-size: 25px;
	font-weight: 600;
	margin: 5px 0px;
}
.log_hr{
    width: 180px;
    border-top: 3px solid #871d57;
    position: relative;
    bottom: 0px;
    margin-bottom: 0px;

}

/*===============================
		SIGNUP PAGE START
================================*/
.signup_page{
	background: url(../assets/img/doc4.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-color: #f1f1f1;
}
.sign_btn {
	border: 1px solid #444444 !important;
	background-color: #444444 !important;
}
.signup_cabin {
    height: 80%;
    width: 100%;
    float: left;
    padding: 70% 0 0 0;
    text-align: center;
}

/*===============================
		SIGNUP DETAIL PAGE START
================================*/
.signup_detail {
	height: 100vh;
    background-color: #f1f1f1;
}
.icon_cab {
	text-align: center;
}
.detail_cabin {
	height: 85%;
	width:100%;
	float:left;
	padding-top: 10%;
}
.icon_back {
    border: 0;
    width: 50px;
    height: 50px;
    background-color: transparent;
}
.detail_para{
	width: 100%;
	float:left;
    margin: 10px auto;
    font-size: 28px;
    font-weight: 100;
    color: #444444;
    line-height: 35px;
    padding: 0px 20px;
} 
.input_list {
	margin-bottom:25px;
}
.detail_input {
	width:70%;
	margin: 0 auto;
	padding: 10% 0;
}
.detail_input label {
	width:100%;
	float: left;
	background-color :transparent;
	color: #616161;
	font-size: 16px;
	font-weight: 600;
	text-align: left;
}
.detail_input input{
	height:45px;
	width:100%;
	border: none;
	border-bottom: 0.5px solid #9e9e9e;
	background-color :transparent;
	padding: 0;
	color: #8a8a8a;
	font-size: 20px;
	font-weight:100;
}
.detail_btn_cab {
    width: 100%;
	height: 15%;
	float:left;
	text-align: center;
} 
.detail_input input::-webkit-input-placeholder {color:#b2b2b2;}
.detail_input input::-moz-placeholder {color:#b2b2b2;}
.detail_input input:-moz-placeholder {color:#b2b2b2;}
.detail_input input:-moz-input-placeholder {color:#b2b2b2;}  

/*===============================
		WELCOME PAGE START
================================*/
.welcome {
	background: url(../assets/img/doc5.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f1f1f1;
    height: 100vh;
}
.welcome_cabin {
	width:100%;
	height:75%;
	float:left;
}
.welcome_btn_cab {
	width:100%;
	height:25%;
	float:left;
	padding: 0 40px;
}
.welcome_head {
	padding: 50px 40px;
}
.welcome_head h1 {
	width:100%;
	float: left;
	color: #871d57;
	font-size: 38px;
	font-weight: 400;
	margin: 5px 0px;
}
.welcome_head h2 {
	width:100%;
	float: left;
	color: #444444;
	font-size: 28px;
	font-weight: 600;
	margin: 0px;
}
.skip {
	height: 40px;
    width: 80px;
    border: none;
    background-color: transparent;
    color: #444444;
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0;
    text-align: left;
}
.slider_cabin {
	text-align: left;
	padding-left:40px;
}
.welcome_slide {
	text-align: left !important;
}
.slider_head h3 {
	width:100%;
	float: left;
	color: #444444;
	font-size: 25px;
	font-weight: 200;
	margin: 15px 0px;
}
.welcome_slide h3 {
	width:100%;
	float: left;
	color: #444444;
	font-size: 18px;
	font-weight: 400;
	margin: 10px 0px;
}
.welcome_slide img {
	width:100%;
}


/*===============================
	CREATE PROFILE PAGE START
================================*/
.back-button.show-back-button {
	display: none !important;
}
.profile_head .toolbar-background-ios {
	background: #fff !important;
	border-color: #fff !important; 
}


.profile_head h4{
	width: 80%;
	float:left;
	color: #444444;
	font-size: 20px;
	font-weight: 400;
	margin: 10px 0px;
}
.profile_back {
	width:20%;
	height: 40px;
	float:left;
	border: 0;
    background-color: transparent;
}
.profile_tab h2{
	color: #cdcdcd;
	font-size: 20px;
	margin: 20px 0px 0 0;
	height: 45px;
}
.profile_tab .active{
	color: #5d5d5d;
    background: url(../assets/img/line.png);
    background-repeat: no-repeat;
    background-position: top 30px left 35px;
}

.toolbar-background-md {
    border-color: #fff;
    background: #fff;
    }