<ion-content>
	<div class="welcome">
		<div class="welcome_cabin">
			<div class="welcome_head">
				<h1>Welcome</h1>
				<h2>Dr. Ramakrishnan</h2>
				<div class="clear"></div>
			</div>

			<div class="slider_cabin">
				<div class="slider_head">
					<h3>See what you can do.</h3>
				</div>
				<ion-slides slidesPerView="1.5" spaceBetween="5">
					 <ion-slide>
					    <div class="welcome_slide">
					    	<h3>Add Reminder</h3>
					    	<img src="assets/img/slidepic.png">
					    </div>
					</ion-slide>
					<ion-slide>
					    <div class="welcome_slide">
					    	<h3>Schedule Appointment</h3>
					    	<img src="assets/img/slidepic.png">
					    </div>
					</ion-slide>
				</ion-slides>	
			</div>

		</div>
		<div class="welcome_btn_cab">
			<div class="cabin">
				<button class="log_btn" (click)="gotoCreateProfile()">Create profile now</button>
			</div>
			<div class="cabin">
				<button class="skip">Skip</button>
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>	
	</div>
</ion-content>