<ion-header>
  	<ion-navbar class="profile_head">
		<button class="profile_back" (click)="gotoWelcome()">
			<img src="assets/img/back_btn.png">
		</button>
		<h4>Add Information</h4>
		<ion-slides slidesPerView="2.5" spaceBetween="5"  class="profile_tab">
			 <ion-slide>
		    	<div class="tab_head">
		    		<h2 class="active">PROFILE</h2>
		    	</div>
			</ion-slide>
			<ion-slide>
		    	<div class="tab_head">
		    		<h2>UPLOAD DOC</h2>
		    	</div>
			</ion-slide>
			<ion-slide>
		    	<div class="tab_head">
		    		<h2>CLINIC</h2>
		    	</div>
			</ion-slide>
		</ion-slides>
  	</ion-navbar>
</ion-header>
<ion-content>
	<div class="create_profile">
		<ion-slides class="tab1">
			 <ion-slide>
		    	<div class="detail_input">
					<div class="input_list">
						<label>TITLE</label>
						<input type="text" placeholder="Title">
					</div>
					<div class="input_list">
						<label>FULL NAME</label>
						<input type="text"  placeholder="Full name">
					</div>
					<div class="input_list">
						<label>CITY</label>
						<input type="text" placeholder="City">
					</div>
					<div class="input_list">
						<label>SPECIALIZATION</label>
						<input type="text" placeholder="Specialization">
					</div>
					<div class="input_list">
						<label>YEARS OF EXPERIANCE</label>
						<input type="text" placeholder="Years of experiance">
					</div>
					<div class="input_list">
						<label>EDUCATION</label>
						<input type="text" placeholder="Education">
					</div>
					<div class="input_list">
						<label>QUALIFICATION</label>
						<input type="text" placeholder="Qualification">
					</div>
					<div class="input_list">
						<label>REGISTRATION DETAILS</label>
						<input type="text" placeholder="Registration details">
					</div>
				</div>
			</ion-slide>
			<ion-slide>
		    	<div class="tab_head">
		    		2222222
		    	</div>
			</ion-slide>
			<ion-slide>
		    	<div class="tab_head">
		    		333333
		    	</div>
			</ion-slide>
		</ion-slides>
	</div>
</ion-content>
