<ion-content>
	<div class="signup_detail">
		<div class="detail_cabin">
			<div class="icon_cab">
				<button class="icon_back" (click)="gotoSignup()">
					<img src="assets/img/back_btn.png">
				</button>
				<p class="detail_para">Please enter your details below to get started</p>
				<div class="clear"></div>
			</div>
			<div class="detail_input">
				<div class="input_list">
					<label>FULL NAME</label>
					<input type="text" class="full_name" placeholder="Full name">
				</div>
				<div class="input_list">
					<label>EMAIL</label>
					<input type="text" class="email" placeholder="Email">
				</div>
				<div class="input_list">
					<label>CITY</label>
					<input type="text" class="city" placeholder="City">
				</div>
			</div>
		</div>
		<div class="detail_btn_cab">
			<button class="log_btn" (click)="gotoWelcome()">Save</button>
		</div>
		<div class="clear"></div>	
	</div>
</ion-content>