<ion-content>
	<div class="signup_page">
		<div class="signup_cabin">
			<div class="logo_cab">
				<img src="assets/img/bmd_logo.png">
			</div>
			<div class="login_input">
				<input type="text" class="log_uname" placeholder="Mobile number">
				<input type="text" class="log_pass" placeholder="Password">
			</div>
			<div class="log_btn_cab">
				<button class="log_btn sign_btn" (click)="gotoSignupdetail()">Signup</button>
			</div>
		</div>
		<div class="signup_cab">
			<div class="log_sign">
				<h4 class="head4">Already have an account?</h4>
				<h3 class="head3" (click)="gotoLogin()">Login here</h3>
			</div>
			<hr class="log_hr">
		</div>
		<div class="clear"></div>	
	</div>
</ion-content>